@value makerWhite, makerGreen from "../../common/colors.css";

.txListTable {
  width: 32em;
  text-align: center;
  margin-left: 6.5em;
}

.txData {
  height: 2em;
  padding:0;
  background-color: makerGreen;
  color: makerWhite;
}